@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class="col">ID</div>
        <div class="col-10">
            @ViewBag.person.id
        </div>
    </div>
    <div class="row">
        <div class="col">First Name</div>
        <div class="col-10">
            @ViewBag.person.first_name
        </div>
    </div>
    <div class="row">
        <div class="col">Last Name</div>
        <div class="col-10">
            @ViewBag.person.last_name
        </div>
    </div>
    <div class="row">
        <div class="col">Birthday</div>
        <div class="col-10">
            @ViewBag.person.date_birth
        </div>
    </div>
    <div class="row">
        <div class="col">Email</div>
        <div class="col-10">
            @ViewBag.person.email
        </div>
    </div>
    <div class="row">
        <div class="col">Country</div>
        <div class="col-10">
            @ViewBag.person.country
        </div>
    </div>
    <div class="row">
        <div class="col">Image</div>
        <div class="col-10">
            @ViewBag.person.image
            <br/>
            <img src="@ViewBag.person.image" />
        </div>
    </div>
    
</div>